*{
   margin:0;
   padding: 0;
   box-sizing: border-box;
}


.carousel{
}


.carousel-inner img {
   object-fit:cover;
   background-size:cover;
   background-position:center;
   background-repeat:no-repeat;
   max-height: 50vh; 
   width:100%;
   max-width: 100%; 
 }
 

#Portfolio_carousel_pause_play_function {
   position: absolute;
   right: 20px;
   bottom: 20px;
   z-index: 100;
 }

 .carousel-indicators [data-bs-target]{
   border-radius:50%;
   padding:5px;
   background-color:red;
   background-clip:none;
   height:.2rem;
   width:.2rem
 }


 .carousel-control-prev-icon{
   background-image:url('../images/prev.png')
 }

 .carousel-control-next-icon{
   background-image:url('../images/next.png')
 }