/* fonts */
@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200&family=Roboto&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');
/* fonts */



*{
   margin:0;
   padding: 0;
   box-sizing: border-box;
}


body{
 background: lightgoldenrodyellow;
}

.card{
   margin-top: 10vh;
   border:0
}


.carousel-inner img {
   object-fit:cover;
   background-size:cover;
   background-position:center;
   background-repeat:no-repeat;
   max-height: 50vh; 
   width:100%;
   max-width: 100%; 
 }
 

#Portfolio_carousel_pause_play_function {
   position: absolute;
   right: 20px;
   bottom: 20px;
   z-index: 100;
 }

 .carousel-indicators [data-bs-target]{
   border-radius:50%;
   padding:5px;
   background-color:red;
   background-clip:none;
   height:.2rem;
   width:.2rem
 }

 .carousel img[src^='carousel1']{
  display: none;
 }


 .carousel-control-prev-icon{
   background-image:url('../images/prev.png')
 }

 .carousel-control-next-icon{
   background-image:url('../images/next.png')
 }

 /* card */
 .card{
   background:none;
   
 }

 .card-header{
   border:0;
   background: none;
 }

 .card-header h5{
   max-width:150px;
   background-color: yellow;
   border-radius: .5rem;
   padding: 10px;
   font-style: italic;
  
 }

 .card-body{
   color:hwb(356 0% 0% / 0.884)
 }

 .card img{
   height:400px;
   margin: auto;
 }

 .row .card-title{font-family: 'Ubuntu', sans-serif;
 }

 #skills .card-title{font-family: 'Roboto', sans-serif;
 }

 #skills{
   padding-top: 10vh;
}

#skills .card-header{
   background: hwb(60 91% 6%);
   margin: auto;
   bottom: 10px;
   padding: 5px;
   border-radius: .5rem;
   border-bottom: 1.3px solid #000;
   
}

#skills .card-title{
   background:#000;
   border-bottom: .2px solid rgb(58, 8, 8);
   position: relative;
   bottom: 12px;
   color:yellow;
   border-radius: .3rem;
   padding:10px;
   font-size: 20px;
   font-style: italic;
   letter-spacing: .1rem;
   
 }

 /* #skills .card-body{
   border-top:1.3px solid rgb(219, 210, 210) ;
 } */
 @media(min-width:768px){
   .card-body{
      font-size: 16.5px;
   }
   .tooltip-item:after{
    opacity:0;
    display: none;
   }
   .card-header h5{max-width:250px; }
 }
 @media(max-width:768px){
   .card-body{
      font-size: 18px;
   }
   #skills{
      padding-top: 5vh;
   }
   #Fundamentals-tab-pane img,
   #Front-end-UI-tab-pane img{
    height:550px;
    margin: .3rem;
   }
   h3.tab-title{
    font-size: 22.5px;
    font-style: italic;
    font-weight: 800;
   }
 
 }
 
 @media(min-width:992px){
   .accordion_two{
     margin-top: 15.5vh;
   }
   .accordion-title{
    font-style: italic;
    letter-spacing: 3px;
   }
   h3.tab-title{
    font-style: italic;
    font-weight: 800;
   }
   #Fundamentals-tab-pane img,
   #Front-end-UI-tab-pane img{
   height:580px !important;
   margin:0 !important
   }
   
}
 /* @media(min-width:1200px){
  .accordion_two{
    margin-left: 10vh;
    transition: 1s all ease-in-out;
  }

}
 @media(max-width:1200px) and (min-width:992px) and (max-width:768px){
  .accordion_two{
    margin-left: 0vh;
    transition: 1s all ease-in-out;
  }

} */




 
 div.tooltip-item {
   border-radius: 8px;
   position: relative;
  }
  
  .tooltip-item {
   cursor: pointer;
 }
 
 .tooltip-item:after {
   content: attr(data-message);
   position: absolute;
   z-index: 99999999;
   text-align: center;
   color:yellow;
   display: none;
   font-size: 1rem;
   background-color: rgba(14, 15, 15, 0.6);
   padding: 10px 20px;
   border-radius: 16px;
   font-family: Tahoma, Verdana, Segoe, sans-serif;
   font-weight: normal;
 }
 .accordion{
  --bs-accordion-btn-icon-width:1.8rem
 }


 .accordion button > span{
color:#000
 }

 .accordion-title{
  font-family: 'Montserrat', sans-serif;
  padding:10px;
  font-weight: bold;
 }
 .accordion-item{
  border-bottom:solid .5px #000
 }
 .accordion-body{
  background: rgba(85, 126, 231, 0.503);
 }
 .accordion-button::after{
  background-image: url('../images/accordion-down.svg');

 }

  .accordion-flush .accordion-item .accordion-button, .accordion-flush .accordion-item .accordion-button.collapsed{
    border-radius: .3rem;
    background: lavenderblush;
  }



#nucamp-tab-pane p{
  font-size: 16px;
  min-width:350px;
  font-family: 'Ubuntu', sans-serif;
  letter-spacing: .1rem;
}
h3.tab-title{
  font-family: 'Nunito', sans-serif;
  font-family: 'Montserrat', sans-serif;
  letter-spacing: .4rem;
  font-weight: bolder;
  padding:10px
}

#nucamp-tab-pane p::first-letter{
  font-size: 200%;
  color: #8A2BE2;
}


   #Fundamentals-tab-pane img,
   #Front-end-UI-tab-pane img{
    height:400px;
    box-shadow: 8px 10px .3rem #888888;
   }

   #Fundamentals-tab-pane img:hover,
   #Front-end-UI-tab-pane img:hover{
   transform:scale(1.1);
   transition:1s all ease-in-out
   }

  .nucamp-link{
    width: 100px;
    background: red;
    /* margin: 20px ; */
  }

   .nucamp-link:hover{
    opacity: .8;
    transform:scale(1.1);
    transition:1s all ease-in-out
   }